@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fff] text-black;
  }
}
.media-list {
  li {
    @apply inline-block m-0 mr-6 text-lg font-semibold;
  }
}

.selected {
  @apply border-b-4 border-black focus:border-b-4 transition ease-in-out;
}

.strong-block {
  strong {
    @apply block;
  }
}

.keyword-btn {
  li {
    @apply my-1 mr-2;
  }
}

html {
  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c3c7c9;
    // background-color: #d6dee1;
    border-radius: 12px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    // background-color: #a8bbbf;
    background-color: #9ca9ac;
  }
}
